.question-tag {
    background-color: var(--primary);
    color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);

}



small {
    color: var(--gray);
    opacity: 6;
}